*.pyc
*.log
node_modules
coverage/
afrc/logs
afrc/export_deliverables
afrc/cantaloupe/*
afrc/staticfiles
afrc/media/packages
afrc/media/build/
afrc/uploadedfiles/*
afrc/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.frontend-configuration-settings.json
frontend_configuration/*