*.pyc
*.log
node_modules
coverage/
arches_rascolls/logs
arches_rascolls/export_deliverables
arches_rascolls/cantaloupe/*
arches_rascolls/staticfiles
arches_rascolls/media/packages
arches_rascolls/media/build/
arches_rascolls/uploadedfiles/*
arches_rascolls/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.frontend-configuration-settings.json
frontend_configuration/*