services:
    arches-rascolls:
        container_name: arches-rascolls
        image: fargeo/arches-rascolls
        build:
            args:
                ARCHES_CORE_HOST_DIR: ../arches/
            context: .
            dockerfile: ./docker/production/Dockerfile
        command: run_dev_server
        volumes:
            # To change these variables, modify/add the .env file prior to launch - NOT env_file.env
            - ${ARCHES_CORE_HOST_DIR:-../arches/}:/web_root/arches
            - ./:/web_root/arches-rascolls
            - ../arches-querysets:/web_root/arches-querysets
            - ../arches-modular-reports:/web_root/arches-modular-reports
            - $HOME/.aws/:/root/.aws/
        ports:
            - ${HOST_PROJECT_PORT:-8060}:80
            - ${HOST_PROJECT_DEBUG_PORT:-5692}:5678
        stdin_open: true
        env_file:
            - ./docker/development/env_file.env
        tty: true
        labels:
            - traefik.http.routers.my-container.rule=Host(`arches-rascolls.local`)
            - traefik.frontend.passHostHeader=true

networks:
    default:
        external: true
        name: arches7-0-dev
